# --- Required for Security and Site Access ---
MB_ENCRYPTION_SECRET_KEY=SECRET_KEY

# --- Required for Email Functionality (SMTP) ---
MB_ADMIN_EMAIL=YOUR_ADMIN@MAIL.COM
MB_EMAIL_FROM_ADDRESS=YOUR_ADMIN@MAIL.COM
MB_EMAIL_FROM_NAME="X Metabase"
MB_EMAIL_SMTP_HOST=smtp.gmail.com
MB_EMAIL_SMTP_USERNAME=YOUR_ADMIN@MAIL.COM
MB_EMAIL_SMTP_PASSWORD=SECURE_PASSWORD
MB_EMAIL_SMTP_PORT=587
MB_EMAIL_SMTP_SECURITY=starttls

# --- Optional/Default Settings ---
MB_ANON_TRACKING_ENABLED=false
MB_PASSWORD_COMPLEXITY=strong